<p id="notice"><%= notice %></p>



<div class="container">
  <h1>Manh's blog</h1>
  <h3> My first Rails Application for Coder School!</h3>


  <nav class="navbar navbar-light bg-faded">

    <ul class="nav navbar-nav">
        <%= form_tag articles_path, class: "form-inline pull-xs-right", :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
          </p>
        <% end %>

        <%= link_to 'Home', articles_path, class: 'nav-item active' %>
      </ul>
  </nav>

  <%= render @articles %>
  <br>

  <%= link_to 'New Article', new_article_path, class: 'btn btn-primary btn-lg' %>

</div>

