<!DOCTYPE html>
<html>
  <head>
    <title>Rails blog for Coderschool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    	<nav class="navbar navbar-light bg-faded ">
	    	<div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
			<ul class="nav navbar-nav">
				<li>
			    <%= form_tag articles_path, class: "form-inline pull-lg-right pull-md-right pull-sm-right pull-xs-left", :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
			      <p>
			        <%= text_field_tag :search, params[:search], placeholder: "Search articles by title", class: "form-control" %>
			        <%= submit_tag "Search", :name => nil, class: "btn btn-outline-success" %>
			      </p>
			    <% end %>
			    </li>

			    <li class="nav-item">
			    	<%= link_to 'Home', articles_path,  class: "nav-link" %>
			    </li>

			    <li class="nav-item">
			     <%= link_to 'New Article', new_article_path, class: "nav-link" %>
			    </li>

			  </ul>
			</div>		  
		</nav>

		<p id="notice" style="margin-top:20px;margin-bottom: 20px"><%= notice %></p>
    	<%= yield %>

  </div>
  </body>
</html>
